<!DOCTYPE html>
<html>

<head>
    <title> สูตรคูณ วิธีสาม </title>
    <link rel=stylesheet href="../src/reset.css">
    <link rel=stylesheet href="lab.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <input type="number" v-model="n"> <!-- v- model  เมื่อค่าที่รับมาเปลี่ยน ตัวข้างล่างก็จะเปลี่ยนด้วย-->

        <div class="space"></div>
        <h3>สูตรคูณแม่ {{n}}</h3>
        <h3 
        v-for="i in 12" 
        >
            {{n}} x {{i}} = {{x(i)}}</h3>

    </div>

    <script src="index.js"></script>
    <script>
        // #app --- > เป็น id จากข้างบน

        let app = new Vue({
			

            el: "#app",
            data: {
                n: 2
            },
            methods: {
                x : function(row) {
                    return this.n * row
                }
				
            


        }




		})
    </script>
</body>

</html>